body{
    background-color: darkslategray;
    font-family: 'Signika' !important;
    font-style: italic;
    color: white;
    margin:auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.container{
    width: 1000px;
    padding:10px;
    broder: 1px solid #000;
    margin: auto;
}


.btnblue {
    border-radius: 25px !important;
    color: #277ecd !important;
    border: 2px solid !important;
        border-top-color: currentcolor;
        border-right-color: currentcolor;
        border-bottom-color: currentcolor;
        border-left-color: currentcolor;
    border-color: #277ecd !important;
    background: transparent !important;
    margin-bottom: 12px !important;
    transition: .3s ease-in-out;
}


.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.stopka{
    color:rgb(77, 233, 45);
}

#h2co{
    color:yellow;
}
#pcop{
    color:blue;
}

@media screen and {max-width:1000px}{
    .container{
        width: 100%;
    }
}